@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NeueHaasDisplay";
  src: url("/fonts/NeueHaasDisplayRoman.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeueHaasDisplay-Medium";
  src: url("/fonts/NeueHaasDisplayMedium.ttf");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "NeueHaasDisplay-Bold";
  src: url("/fonts/NeueHaasDisplayBold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "NeueHaasDisplay-Black";
  src: url("/fonts/NeueHaasDisplayBlack.ttf");
  font-weight: black;
  font-style: normal;
}

@font-face {
  font-family: "NeueBit";
  src: url("/fonts/PPNeueBitRegular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeueBit-Bold";
  src: url("/fonts/PPNeueBitBold.ttf");
  font-weight: bold;
  font-style: normal;
}

*,
*::before,
*::after,
a,
button {
  cursor: none !important;
}

html {
  font-size: 0.62vw;
}

@media screen and (max-width: 639px) {
  html {
    font-size: 16px;
  }
}

body {
  overscroll-behavior: none;
  height: 100%;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: scroll;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  appearance: none;
  -moz-appearance: textfield;
}

.sand-transition {
  @apply transition duration-300 ease-out;
}

.transparent-layer {
  @apply absolute inset-0 w-full h-full bg-light-90 dark:bg-black opacity-50;
}

.range::-webkit-slider-runnable-track {
  @apply bg-black dark:bg-light-100 h-[0.125rem] rounded-none;
}
.range::-moz-range-track {
  @apply bg-black dark:bg-light-100 h-[0.125rem] rounded-none;
}
.range::-webkit-slider-thumb {
  @apply appearance-none -mt-[0.32rem] bg-black dark:bg-light-100 w-3 aspect-square rounded-full;
}
.range::-moz-slider-thumb {
  @apply appearance-none -mt-[0.32rem] bg-black dark:bg-light-100 w-3 aspect-square rounded-full;
}

.marquee-content {
  display: flex;
}

.marquee-content span {
  margin-right: 0.5rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
  -webkit-text-fill-color: #000 !important;
  font-size: inherit;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
  font-size: inherit;
}

.swiper-pagination-bullet {
  width: 1rem !important;
  height: 1rem !important;
  border-radius: 0 !important;
  background: #fff !important;
  transition: all 0.2s ease-out;
}
.swiper-pagination-bullet-active {
  width: 1rem !important;
  height: 1rem !important;
  border-radius: 0 !important;
  background: #000 !important;
}
.dark .swiper-pagination-bullet {
  width: 1rem !important;
  height: 1rem !important;
  border-radius: 0 !important;
  background: #000 !important;
}
.dark .swiper-pagination-bullet-active {
  width: 1rem !important;
  height: 1rem !important;
  border-radius: 0 !important;
  background: #fff !important;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

.starwar-text {
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: perspective(300px) rotateX(35deg);
  -moz-transform: perspective(300px) rotateX(35deg);
  -ms-transform: perspective(300px) rotateX(35deg);
  -o-transform: perspective(300px) rotateX(35deg);
  transform: perspective(300px) rotateX(35deg);
}
